# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  isva, quadprog 
)

S3method(print,RefFreeEwasModel)
S3method(print,summaryBootRefFreeEwasModel)
S3method(print,BootRefFreeEwasModel)
S3method(print,RefFreeCellMix)
S3method(summary,RefFreeCellMix)
S3method(summary,BootRefFreeEwasModel)
S3method(deviance,RefFreeCellMix)

importFrom("stats", "cor", "cutree", "deviance", "dist", "hclust",
              "pt", "sd")
